@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alef:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
html {
  font-size: 16px;
}

body {
  color: #594a4e;
  font-weight: normal;
  font-style: normal;
  font-family: "Alef", sans-serif;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.btn--secondary, .btn {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 0.4rem;
  color: #594a4e;
  cursor: pointer;
  background-color: #ff8ba7;
  transition: background-color 0.3s ease;
}
.btn--secondary:hover, .btn:hover {
  background-color: #fff9f9;
  background-color: #ffc6c7;
}

.btn--secondary {
  background-color: #c3f0ca;
}
.btn--secondary:hover {
  color: #fffffe;
  background-color: #756166;
}

.heading-primary {
  color: #33272a;
  font-family: "Abril Fatface", cursive;
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: 1.5%;
}

.heading-secondary {
  color: #33272a;
  font-family: "Abril Fatface", cursive;
  font-size: 2.1rem;
  font-weight: 600;
  letter-spacing: 0.5%;
}

.heading-tertiary {
  color: #33272a;
  font-family: "Abril Fatface", cursive;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.25%;
}

.heading-quaternary {
  color: #33272a;
  font-family: "Abril Fatface", cursive;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.25%;
}

.heading-quinary {
  color: #33272a;
  font-family: "Abril Fatface", cursive;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.5%;
}

.heading-sextiary {
  color: #33272a;
  font-family: "Abril Fatface", cursive;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 1.5%;
}

.features {
  width: 100%;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.625rem;
  padding-bottom: 2.625rem;
}
.features__info {
  max-width: 33rem;
}
.features__info-title {
  margin-bottom: 1.875rem;
}
.features__img {
  width: 100%;
  max-width: 18.75rem;
  min-width: 12.5rem;
}
.features-reverse {
  flex-direction: row-reverse;
}

@media screen and (max-width: 620px) {
  .features {
    flex-direction: column;
  }
}
.nav__container {
  max-width: 71.25rem;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 6.25rem;
  width: 100%;
}
.nav__logo {
  max-width: 7.5rem;
}
.nav__list {
  display: flex;
  gap: 3.75rem;
}
.nav__list-item {
  list-style: none;
}
.nav__list-item a {
  text-decoration: none;
  color: #33272a;
}
@media screen and (max-width: 585px) {
  .nav .nav__container {
    flex-direction: column;
    justify-content: center;
    gap: 1.3rem;
    padding-top: 0.3rem;
  }
  .nav .nav__list {
    padding-left: 0;
  }
}

.header__container {
  max-width: 71.25rem;
  margin: 0 auto;
  display: flex;
  gap: 1.875rem;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.header__img {
  width: 100%;
  max-width: 21.875rem;
  min-width: 15.625rem;
  animation: relaxing 4s ease-in-out infinite;
}
.header__title {
  display: flex;
  gap: 4rem;
  justify-content: center;
  flex-direction: column;
  align-items: baseline;
}
.header__title .heading-primary {
  width: 100%;
  max-width: 35.5rem;
}
@media screen and (max-width: 704px) {
  .header .header__container {
    flex-direction: column-reverse;
  }
  .header .header__img {
    align-self: center;
  }
  .header .header__title {
    align-items: center;
  }
  .header .header__title .heading-primary {
    text-align: center;
  }
}

@keyframes relaxing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.grid {
  display: grid;
  margin: 0 auto;
  max-width: 71.25rem;
  grid-template-columns: repeat(12, 1fr);
}
.grid .col-1-2 {
  grid-column: span 6;
}
.grid .col-1-3 {
  grid-column: span 4;
}
.grid .col-1-4 {
  grid-column: span 3;
}
.grid .col-2-3 {
  grid-column: span 8;
}
.grid .col-2-4 {
  grid-column: span 6;
}
.grid .col-3-4 {
  grid-column: span 9;
}
.grid .col-full {
  grid-column: 1/-1;
}
.grid .col-center--l {
  grid-column: 3/11;
}
.grid .col-center--s {
  grid-column: 5/9;
}

.grid-cards-impar {
  display: grid;
  max-width: 71.25rem;
  grid-gap: 3rem;
  margin: 0 auto;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-flow: dense;
}

.container {
  max-width: 71.25rem;
  margin: 0 auto;
  padding-left: 2.625rem;
  padding-right: 2.625rem;
}

@media screen and (max-width: 585px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.landing__features {
  max-width: 71.25rem;
  margin: 0 auto;
  padding-top: 2.625rem;
  padding-bottom: 2.625rem;
}
.landing__features .heading-secondary {
  text-align: center;
  padding-top: 2.625rem;
  padding-bottom: 2.625rem;
}

.call {
  width: 100%;
}
.call .fa-spa {
  font-size: 50px;
  color: #ff8ba7;
}
.call__fondo {
  background-color: #ffc6c7;
  padding-bottom: 8.75rem;
}
.call__title {
  max-width: 660px;
  text-align: center;
}
.call__info {
  max-width: 760px;
  text-align: center;
}
.call__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.125rem;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

@media screen and (max-width: 860px) {
  html {
    font-size: 14px !important;
  }
}
body {
  background-color: #faeee7;
}/*# sourceMappingURL=main.css.map */