@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alef:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
.theme {
  --colorPrincipalSalmon: #ff8ba7;
  --colorSecundarioRosa: #ffc6c7;
  --colorTerciarioVerde: #b2efbb;
  --colorBackground: #faeee7;
  --colorTipoHeadings: #33272a;
  --colorTipoCuerpo: #594a4e;
  --colorBlancoRoto: #fffffe;
  --colorError: rgba(247, 61, 61, 0.631372549);
}
.theme--dark {
  --colorPrincipalSalmon: #5989ac;
  --colorSecundarioRosa: #414c53;
  --colorTerciarioVerde: #ba7779;
  --colorBackground: #3c3536;
  --colorTipoHeadings: #d5cacb;
  --colorTipoCuerpo: #d5d3d4;
  --colorBlancoRoto: #2d2929;
  --colorError: #bd8587;
}
.theme--lemon {
  --colorPrincipalSalmon: #ffd19c;
  --colorSecundarioRosa: #f7ffb2;
  --colorTerciarioVerde: #c0e2e6;
  --colorBackground: #fefad3;
  --colorTipoHeadings: #504e27;
  --colorTipoCuerpo: #3c3131;
  --colorBlancoRoto: #fffbe6;
  --colorError: #9d5e00;
}
.theme--dracula {
  --colorPrincipalSalmon: #ff79c6;
  --colorSecundarioRosa: #6272a4;
  --colorTerciarioVerde: #50fa7b;
  --colorBackground: #282a36;
  --colorTipoHeadings: #bd93f9;
  --colorTipoCuerpo: #f8f8f2;
  --colorBlancoRoto: #44475a;
  --colorError: #ff5555;
}

html {
  font-size: 16px;
}

body {
  color: var(--colorTipoCuerpo);
  font-weight: normal;
  font-style: normal;
  font-family: "Alef", sans-serif;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.btn--secondary, .btn {
  display: inline-block;
  padding: 0.5rem 1.4rem;
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 0.4rem;
  color: var(--colorTipoCuerpo);
  cursor: pointer;
  background-color: var(--colorPrincipalSalmon);
  transition: background-color 0.3s ease;
}
.btn--secondary:hover, .btn:hover {
  background-color: var(--colorSecundarioRosa);
}

.btn--secondary {
  background-color: var(--colorTerciarioVerde);
}
.btn--secondary:hover {
  color: var(--colorBlancoRoto);
  background-color: var(--colorPrincipalSalmon);
}

.heading-primary {
  color: var(--colorTipoHeadings);
  font-family: "Abril Fatface", cursive;
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: 1.5%;
}

.heading-secondary {
  color: var(--colorTipoHeadings);
  font-family: "Abril Fatface", cursive;
  font-size: 2.1rem;
  font-weight: 600;
  letter-spacing: 0.5%;
}

.heading-tertiary {
  color: var(--colorTipoHeadings);
  font-family: "Abril Fatface", cursive;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.25%;
}

.heading-quaternary {
  color: var(--colorTipoHeadings);
  font-family: "Abril Fatface", cursive;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.25%;
}

.heading-quinary {
  color: var(--colorTipoHeadings);
  font-family: "Abril Fatface", cursive;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.5%;
}

.heading-sextiary {
  color: var(--colorTipoHeadings);
  font-family: "Abril Fatface", cursive;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 1.5%;
}

.sub-heading {
  font-family: "Alef", sans-serif;
  color: var(--colorTipoCuerpo);
  font-size: 1.2rem;
}

.features {
  width: 100%;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.625rem;
  padding-bottom: 2.625rem;
}
.features__info {
  max-width: 33rem;
}
.features__info-title {
  margin-bottom: 1.875rem;
}
.features__img {
  width: 100%;
  max-width: 18.75rem;
  min-width: 12.5rem;
}
.features-reverse {
  flex-direction: row-reverse;
}

@media screen and (max-width: 620px) {
  .features {
    flex-direction: column;
  }
}
.social-icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 2.625rem;
}
.social-icons li {
  list-style: none;
}
.social-icons li:nth-child(odd) {
  color: var(--colorPrincipalSalmon);
}
.social-icons li:nth-child(even) {
  color: var(--colorTipoCuerpo);
}
.social-icons li a {
  text-decoration: none;
  color: inherit;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 40.625rem;
  min-width: 17.5rem;
  padding: 1.5rem;
  border: 2.5px solid var(--colorTipoHeadings);
  border-radius: 8px;
  background-color: var(--colorBlancoRoto);
}
.form__join {
  display: flex;
  width: 100%;
}
.form__join-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form .col1 {
  margin-right: 1.25rem;
}
.form label {
  margin-bottom: 0.625rem;
  margin-top: 1.5625rem;
}
.form input {
  border: none;
  border-bottom: 2.5px solid var(--colorTipoHeadings);
  outline: none;
  padding: 0;
  font-size: 1.1rem;
  color: var(--colorTipoHeadings);
  background-color: transparent;
}
.form input[type=checkbox] {
  margin-right: 8px;
}
.form input[type=checkbox]:checked {
  accent-color: var(--colorPrincipalSalmon);
}
.form .band {
  position: absolute;
  max-width: 6.25rem;
  top: -1px;
  left: -1.875rem;
  transform: rotate(-20deg);
}

@media screen and (max-width: 470px) {
  .form__join {
    flex-direction: column;
  }
  .form .band {
    width: 5rem;
    left: -1.125rem;
  }
}
.diary__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}
.diary__nav .diary__icon {
  display: flex;
  align-content: center;
  gap: 12px;
}
.diary__nav li {
  list-style: none;
}
.diary__nav a {
  font-family: "Abril Fatface", cursive;
  color: var(--colorTipoHeadings);
  font-size: 18px;
  text-decoration: none;
}
.diary__nav .fas {
  font-size: 20px;
  color: var(--colorTipoCuerpo);
}

.error-msg {
  font-size: 0.8rem;
  color: var(--colorError);
  padding: 5px 0;
}

.option-card {
  max-width: 8.75rem;
  background-color: var(--colorBlancoRoto);
  padding: 0.7rem 0.4rem;
  position: relative;
  text-align: center;
  border: 2.5px solid var(--colorTipoHeadings);
  color: var(--colorTipoCuerpo);
  text-decoration: none;
  font-weight: 700;
  transition: all 0.1s ease-in-out;
  font-size: 0.85rem;
  min-height: 60px;
  align-content: center;
  min-width: 8.5rem;
}
.option-card:hover {
  color: var(--colorPrincipalSalmon);
  border: 3px solid var(--colorPrincipalSalmon);
  transform: scale(1.1);
}
.option-card i {
  font-size: 2rem;
  position: absolute;
  top: -43%;
  left: 37%;
}

.entry {
  max-width: 100%;
  border: 2.5px solid var(--colorTipoHeadings);
  padding: 1.5rem;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  resize: none;
}

.card-greet {
  background-color: var(--colorBlancoRoto);
  padding: 1.5rem;
  padding-bottom: 30px;
  max-width: 650px;
  min-width: 280px;
  border: 2.5px solid var(--colorTipoHeadings);
  position: relative;
}
.card-greet__title {
  display: flex;
  justify-content: space-between;
  border-bottom: 2.5px solid var(--colorTipoHeadings);
}
.card-greet__text {
  padding-top: 15px;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Número máximo de líneas a mostrar */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-greet__delete {
  position: absolute;
  top: -1px;
  right: 1.8%;
  color: var(--colorPrincipalSalmon);
  text-decoration: none;
}
.card-greet__text-expand {
  position: absolute;
  bottom: 8px;
  right: 12px;
  color: var(--colorPrincipalSalmon);
  cursor: pointer;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}

.modal__footer {
  text-align: right;
}
.modal__footer a {
  color: #585858;
}
.modal__footer i {
  color: #d02d2c;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}

.nav__container {
  max-width: 71.25rem;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 6.25rem;
  width: 100%;
}
.nav__logo {
  color: var(--colorTipoHeadings);
  font-family: "Abril Fatface", cursive;
  font-size: 1.8rem;
}
.nav__link-logo {
  width: 7.5rem;
  text-decoration: none;
}
.nav__list {
  display: flex;
  gap: 3.75rem;
  align-items: center;
}
.nav__list-item {
  list-style: none;
}
.nav__list-item a {
  text-decoration: none;
  color: var(--colorTipoHeadings);
  transition: all linear 0.1s;
}
.nav__list-item a:hover {
  color: var(--colorPrincipalSalmon);
}
.nav .fa-user-circle {
  font-size: 1.875rem;
}
@media screen and (max-width: 585px) {
  .nav .nav__container {
    flex-direction: column;
    justify-content: center;
    gap: 1.3rem;
    padding-top: 1.5rem;
  }
  .nav .nav__list {
    padding-left: 0;
  }
}

.header__container {
  max-width: 71.25rem;
  margin: 0 auto;
  display: flex;
  gap: 1.875rem;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.header__img {
  width: 100%;
  max-width: 21.875rem;
  min-width: 15.625rem;
  animation: relaxing 4s ease-in-out infinite;
}
.header__title {
  display: flex;
  gap: 4rem;
  justify-content: center;
  flex-direction: column;
  align-items: baseline;
}
.header__title .heading-primary {
  width: 100%;
  max-width: 35.5rem;
}
@media screen and (max-width: 704px) {
  .header .header__container {
    flex-direction: column-reverse;
  }
  .header .header__img {
    align-self: center;
  }
  .header .header__title {
    align-items: center;
  }
  .header .header__title .heading-primary {
    text-align: center;
  }
}

@keyframes relaxing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.footer__container {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.footer__identity {
  max-width: 15rem;
}
.footer__contact {
  align-self: baseline;
  max-width: 15rem;
}
.footer__icon {
  max-width: 5.625rem;
  padding-top: 8px;
  font-family: "Abril Fatface", cursive;
}
.footer__slogan {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
.footer .heading-quinary {
  margin-bottom: 0.9375rem;
  align-self: baseline;
}
.footer__social {
  width: 100%;
  max-width: 15rem;
  justify-self: baseline;
  align-self: baseline;
}
.footer__social .heading-quinary {
  text-align: center;
}

@media screen and (max-width: 507px) {
  .footer__container {
    justify-content: center;
    gap: 3.2rem;
  }
  .heading-quinary {
    text-align: start !important;
  }
}
.grid {
  display: grid;
  margin: 0 auto;
  max-width: 71.25rem;
  grid-template-columns: repeat(12, 1fr);
}
.grid .col-1-2 {
  grid-column: span 6;
}
.grid .col-1-3 {
  grid-column: span 4;
}
.grid .col-1-4 {
  grid-column: span 3;
}
.grid .col-2-3 {
  grid-column: span 8;
}
.grid .col-2-4 {
  grid-column: span 6;
}
.grid .col-3-4 {
  grid-column: span 9;
}
.grid .col-full {
  grid-column: 1/-1;
}
.grid .col-center--l {
  grid-column: 3/11;
}
.grid .col-center--s {
  grid-column: 5/9;
}

.grid-cards-impar {
  display: grid;
  max-width: 71.25rem;
  grid-gap: 3rem;
  margin: 0 auto;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-flow: dense;
}

.container {
  max-width: 71.25rem;
  margin: 0 auto;
  padding-left: 2.625rem;
  padding-right: 2.625rem;
}

@media screen and (max-width: 585px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.landing__features {
  max-width: 71.25rem;
  margin: 0 auto;
  padding-top: 2.625rem;
  padding-bottom: 2.625rem;
}
.landing__features .heading-secondary {
  text-align: center;
  padding-top: 2.625rem;
  padding-bottom: 2.625rem;
}

.call {
  width: 100%;
}
.call .fa-spa {
  font-size: 3.125rem;
  color: var(--colorPrincipalSalmon);
}
.call__fondo {
  background-color: var(--colorSecundarioRosa);
  padding-bottom: 8.75rem;
}
.call__title {
  max-width: 41.25rem;
  text-align: center;
}
.call__info {
  max-width: 47.5rem;
  text-align: center;
}
.call__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.125rem;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.registro {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  padding-bottom: 6.25rem;
}
.registro__title {
  text-align: center;
  padding-top: 2.625rem;
}
.registro h4 {
  text-align: center;
  margin-top: -30px;
}
.registro h4 a {
  color: var(--colorTipoCuerpo);
}
.registro h4 a:hover {
  color: var(--colorPrincipalSalmon);
}
.registro .form {
  margin: 0 auto;
}
.registro .btn {
  width: 100%;
  display: flex;
  border-style: none;
  background-color: var(--colorSecundarioRosa);
  padding: 5px 0;
}
.registro .btn:hover {
  background-color: var(--colorPrincipalSalmon);
}

.created {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.created .fas {
  text-align: center;
  color: var(--colorPrincipalSalmon);
  font-size: 2.1875rem;
  margin: 0 auto;
}
.created .heading-secondary {
  text-align: center;
}
.created .btn-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.diary {
  max-width: 43.75rem;
  padding-top: 2.7rem;
  padding-bottom: 6rem;
}
.diary textarea:focus {
  outline: none;
}
.diary__nav {
  padding-bottom: 2rem;
}
.diary__nav a:hover,
.diary__nav i:hover {
  color: var(--colorPrincipalSalmon);
}
.diary .to-do-list {
  max-width: 100%;
  background-color: var(--colorBlancoRoto);
  border: 2.5px solid var(--colorTipoHeadings);
  min-height: 18.75rem;
  padding: 1.5rem;
  margin-top: 2.5rem;
  position: relative;
}
.diary .to-do-list .tape-diary {
  position: absolute;
  top: -18px;
  left: 83%;
  width: 8.125rem;
  transform: rotate(10deg);
}
.diary__entry {
  max-width: 100%;
  border: 2.5px solid var(--colorTipoHeadings);
  padding: 1.5rem;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  resize: none;
  background-color: var(--colorBlancoRoto);
  color: var(--colorTipoCuerpo);
}
.diary__entry-btns {
  display: flex;
  gap: 1.875rem;
}
.diary .greet__title {
  margin-top: 2.5rem;
}
.diary .task-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 8px;
  word-wrap: break-word;
}
.diary .task-text {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 82%;
  cursor: pointer;
  color: var(--colorTipoCuerpo);
}
.diary .task-text:hover {
  color: var(--colorPrincipalSalmon);
}
.diary input[type=checkbox] {
  cursor: pointer;
  margin-right: 8px;
}
.diary input[type=checkbox]:checked + .task-text {
  text-decoration: line-through;
  color: var(--colorPrincipalSalmon);
}
.diary input[type=checkbox]:checked {
  accent-color: var(--colorPrincipalSalmon);
}
.diary .delete-task {
  margin-left: auto;
  cursor: pointer;
  text-decoration: none;
  color: var(--colorTipoCuerpo);
}
.diary .delete-task:hover {
  color: var(--colorPrincipalSalmon);
}
.diary .delete-task:hover + .task-text {
  color: var(--colorError);
}
.diary .favorite-task {
  color: rgba(158, 158, 158, 0.389);
}
.diary .favorite {
  color: var(--colorTerciarioVerde);
}
.diary .ayer-completed {
  text-decoration: line-through;
  cursor: auto;
}
.diary .ayer-no-completed {
  cursor: auto;
}
.diary .fa-arrow-alt-circle-right {
  cursor: pointer !important;
  margin-left: 8px;
  color: gray;
}
.diary .fa-arrow-alt-circle-right:hover {
  color: var(--colorTerciarioVerde);
}

@media screen and (max-width: 570px) {
  html .tape-diary {
    position: absolute;
    top: -8%;
    left: 70% !important;
    width: 100px !important;
    transform: rotate(2deg) !important;
  }
}
.diary .muestra-tachada {
  text-decoration: line-through;
}
.diary .task-muestra {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.diary .task-muestra i {
  margin-right: 6px;
  color: gray;
}
.diary .heart-marked {
  color: pink !important;
}
.diary .muestra-container {
  display: flex;
  align-items: center;
}
.diary .muestra-form {
  position: relative;
}
.diary .flecha1 {
  position: absolute;
  width: 3.5rem;
  top: 62%;
  left: 8%;
}
.diary .list-muestra {
  position: relative;
}
.diary .list-muestra .flecha3 {
  width: 80px;
  position: absolute;
  top: 45%;
  left: 2%;
}
.diary .list-muestra .muestra-explicacion {
  position: absolute;
  max-width: 380px;
  top: 60%;
  left: 15%;
  padding: 0.3rem;
}
.diary .instrucciones {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.diary .instrucciones__fav, .diary .instrucciones__check, .diary .instrucciones__ayer, .diary .instrucciones__eliminar {
  display: flex;
  align-items: baseline;
}
.diary .instrucciones p {
  margin-left: 6px;
}
.diary .instrucciones i,
.diary .instrucciones .task-checkbox,
.diary .instrucciones .equis {
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 10px;
}

.diario-agradecimiento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 70vh;
}
.diario-agradecimiento a {
  text-decoration: none;
}
.diario-agradecimiento a:hover {
  color: var(--colorPrincipalSalmon);
}
.diario-agradecimiento .heading-secondary {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.diario-agradecimiento .sub-heading {
  text-align: center;
}
.diario-agradecimiento__cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0 auto;
}
.diario-agradecimiento .pagination {
  text-align: center;
}
.diario-agradecimiento .current-page {
  color: var(--colorPrincipalSalmon);
}
.diario-agradecimiento .search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 650px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.diario-agradecimiento .search .order i {
  color: var(--colorTipoHeadings);
  font-size: 1.3rem;
  margin-right: 10px;
}
.diario-agradecimiento .search .order i:hover {
  color: var(--colorPrincipalSalmon);
}
.diario-agradecimiento .search-form {
  display: flex;
  justify-content: end;
}
.diario-agradecimiento .search-form__input {
  padding: 8px;
  background-color: var(--colorBlancoRoto);
  color: var(--colorTipoCuerpo);
  outline: none;
  border: 2.5px solid var(--colorTipoHeadings);
}
.diario-agradecimiento .search-form__btn {
  padding: 15px;
  background-color: var(--colorTipoHeadings);
  cursor: pointer;
}
.diario-agradecimiento .search-form__btn i {
  color: white;
}
.diario-agradecimiento .search-form__btn:hover i {
  color: var(--colorPrincipalSalmon);
}

.relax .heading-secondary {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}
.relax__headline {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.relax .play-container {
  display: flex;
  justify-content: center;
}
.relax .sphere {
  margin: auto;
  height: 320px;
  width: 320px;
  border-radius: 50%;
  background: radial-gradient(rgba(255, 198, 199, 0.262745098), var(--colorSecundarioRosa));
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.relax .sphere-inner {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background: radial-gradient(var(--colorPrincipalSalmon), var(--colorSecundarioRosa));
  position: absolute;
}
.relax .inspira {
  position: absolute;
  color: var(--colorBlancoRoto);
  opacity: 0;
}
.relax .espira {
  position: absolute;
  color: var(--colorBlancoRoto);
  opacity: 0;
  font-size: 20px;
}
.relax .play {
  cursor: pointer;
  color: var(--colorTipoCuerpo);
  background-color: var(--colorTerciarioVerde);
  margin-top: 40px;
}
.relax .play:hover {
  background-color: var(--colorPrincipalSalmon);
}
.relax .fa-solid {
  font-size: 30px;
}
.relax .animate {
  animation: breath 5s ease-in-out infinite alternate;
}
.relax .animate-inspira {
  animation: breath-inspira 10s ease-in-out infinite;
  animation-delay: 0.05s; /* la animación "breath-inspira" comienza después de que el círculo alcance su tamaño máximo */
}
.relax .animate-espira {
  animation: breath-espira 10s ease-in-out infinite;
  animation-delay: 5s; /* la animación "breath-espira" comienza después de que el círculo alcance su tamaño mínimo */
}

.stretch .heading-secondary {
  margin-top: 80px;
  margin-bottom: 20px;
  text-align: center;
}
.stretch__headline {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.stretch .video-container {
  display: flex;
  align-items: center;
}
.stretch__video {
  margin: 0 auto;
  margin-bottom: 80px;
}

@keyframes breath {
  to {
    transform: scale(3.2);
  }
}
@keyframes breath-inspira {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: scale(1.3);
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes breath-espira {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: scale(0.8);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
.login {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  min-height: 70vh;
  padding-bottom: 6.25rem;
}
.login__title {
  text-align: center;
  padding-top: 2.625rem;
}
.login h4 {
  text-align: center;
  margin-top: -30px;
}
.login .form {
  margin: 0 auto;
  max-width: 380px;
}
.login .form .sun {
  position: absolute;
  max-width: 6.25rem;
  top: -40px;
  left: 37%;
}
.login .btn {
  width: 100%;
  display: flex;
  border-style: none;
  background-color: var(--colorSecundarioRosa);
  padding: 5px 0;
}
.login .btn:hover {
  background-color: var(--colorPrincipalSalmon);
}
.login .forgot-pass {
  text-align: center;
  margin: 20px 0;
}
.login .forgot-pass a {
  color: var(--colorTipoCuerpo);
}
.login .forgot-pass a:hover {
  color: var(--colorPrincipalSalmon);
}

.profile {
  padding-top: 4.0625rem;
}
.profile .cerrar-sesion {
  margin: 0 auto;
}
.profile__header {
  margin-top: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-around;
}
.profile .heading-secondary {
  text-align: center;
}
.profile__options {
  padding: 1.875rem 0;
  display: flex;
  width: 100%;
  gap: 2.625rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 53.125rem;
}
.profile .sloth {
  max-width: 140px;
  width: 100%;
  min-width: 100px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
}
.profile .greet {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.profile .greet .heading-tertiary {
  text-align: center;
}
.profile .greet form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile .greet form textarea {
  max-width: 48.75rem;
  width: 100%;
  background-color: var(--colorBlancoRoto);
  color: var(--colorTipoCuerpo);
}
.profile .greet form textarea:focus {
  outline: none;
}
.profile .greet form .add-entry {
  width: 100%;
  max-width: 48.75rem;
}

.working-on {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.working-on img {
  width: 100%;
  max-width: 550px;
}

.eliminar {
  padding-top: 80px;
  padding-bottom: 60px;
  min-height: 70vh;
}
.eliminar__title {
  text-align: center;
  padding-bottom: 40px;
}
.eliminar__btns {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.theme-selection {
  padding: 2.625rem;
  min-height: 75vh;
}
.theme-selection h2 {
  text-align: center;
}
.theme-selection__btns {
  margin-top: 40px;
  padding: 1.875rem;
  display: flex;
  justify-content: center;
  gap: 3.5rem;
}

.fade-in {
  animation: fadeIn 0.3s;
  -webkit-animation: fadeIn 0.3s;
  -moz-animation: fadeIn 0.3s;
  -o-animation: fadeIn 0.3s;
  -ms-animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 860px) {
  html {
    font-size: 14px !important;
  }
}
body {
  background-color: var(--colorBackground);
}
body a {
  color: var(--colorTipoCuerpo);
}
body a:hover {
  color: var(--colorPrincipalSalmon);
}

a,
input,
button {
  border: none;
}

.task-text {
  color: var(--colorTipoCuerpo);
}
.task-text.hover-color {
  color: var(--colorPrincipalSalmon);
}

.no-tasks {
  font-style: italic;
  color: gray;
}/*# sourceMappingURL=main.css.map */