@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alef:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
html {
  font-size: 16px;
}

body {
  color: #594a4e;
  font-weight: normal;
  font-style: normal;
  font-family: "Alef", sans-serif;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.btn--secondary, .btn {
  display: inline-block;
  padding: 0.5rem 1.4rem;
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 0.4rem;
  color: #594a4e;
  cursor: pointer;
  background-color: #ff8ba7;
  transition: background-color 0.3s ease;
}
.btn--secondary:hover, .btn:hover {
  background-color: #fff9f9;
  background-color: #ffc6c7;
}

.btn--secondary {
  background-color: #c3f0ca;
}
.btn--secondary:hover {
  color: #fffffe;
  background-color: #756166;
}

.heading-primary {
  color: #33272a;
  font-family: "Abril Fatface", cursive;
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: 1.5%;
}

.heading-secondary {
  color: #33272a;
  font-family: "Abril Fatface", cursive;
  font-size: 2.1rem;
  font-weight: 600;
  letter-spacing: 0.5%;
}

.heading-tertiary {
  color: #33272a;
  font-family: "Abril Fatface", cursive;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.25%;
}

.heading-quaternary {
  color: #33272a;
  font-family: "Abril Fatface", cursive;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.25%;
}

.heading-quinary {
  color: #33272a;
  font-family: "Abril Fatface", cursive;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.5%;
}

.heading-sextiary {
  color: #33272a;
  font-family: "Abril Fatface", cursive;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 1.5%;
}

.sub-heading {
  font-family: "Alef", sans-serif;
  color: #594a4e;
  font-size: 1.2rem;
}

.features {
  width: 100%;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.625rem;
  padding-bottom: 2.625rem;
}
.features__info {
  max-width: 33rem;
}
.features__info-title {
  margin-bottom: 1.875rem;
}
.features__img {
  width: 100%;
  max-width: 18.75rem;
  min-width: 12.5rem;
}
.features-reverse {
  flex-direction: row-reverse;
}

@media screen and (max-width: 620px) {
  .features {
    flex-direction: column;
  }
}
.social-icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 2.625rem;
}
.social-icons li {
  list-style: none;
}
.social-icons li:nth-child(odd) {
  color: #ff8ba7;
}
.social-icons li:nth-child(even) {
  color: #594a4e;
}
.social-icons li a {
  text-decoration: none;
  color: inherit;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 40.625rem;
  min-width: 17.5rem;
  padding: 1.5rem;
  border: 2.5px solid #33272a;
  border-radius: 8px;
  background-color: #fffffe;
}
.form__join {
  display: flex;
  width: 100%;
}
.form__join-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form .col1 {
  margin-right: 1.25rem;
}
.form label {
  margin-bottom: 0.625rem;
  margin-top: 1.5625rem;
}
.form input {
  border: none;
  border-bottom: 2.5px solid #33272a;
  outline: none;
  padding: 0;
  font-size: 1.1rem;
  color: #33272a;
  background-color: transparent;
}
.form input[type=checkbox] {
  margin-right: 8px;
}
.form input[type=checkbox]:checked {
  accent-color: #ff8ba7;
}
.form .band {
  position: absolute;
  max-width: 6.25rem;
  top: -1px;
  left: -1.875rem;
  transform: rotate(-20deg);
}

@media screen and (max-width: 470px) {
  .form__join {
    flex-direction: column;
  }
  .form .band {
    width: 5rem;
    left: -1.125rem;
  }
}
.diary__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}
.diary__nav .diary__icon {
  display: flex;
  align-content: center;
  gap: 12px;
}
.diary__nav li {
  list-style: none;
}
.diary__nav a {
  font-family: "Abril Fatface", cursive;
  color: #33272a;
  font-size: 18px;
  text-decoration: none;
}
.diary__nav .fas {
  font-size: 20px;
  color: #594a4e;
}

.nav__container {
  max-width: 71.25rem;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 6.25rem;
  width: 100%;
}
.nav__logo {
  max-width: 7.5rem;
}
.nav__link-logo {
  width: 7.5rem;
}
.nav__list {
  display: flex;
  gap: 3.75rem;
  align-items: center;
}
.nav__list-item {
  list-style: none;
}
.nav__list-item a {
  text-decoration: none;
  color: #33272a;
  transition: all linear 0.1s;
}
.nav__list-item a:hover {
  color: #ff8ba7;
}
.nav .fa-user-circle {
  font-size: 1.875rem;
}
@media screen and (max-width: 585px) {
  .nav .nav__container {
    flex-direction: column;
    justify-content: center;
    gap: 1.3rem;
    padding-top: 1.5rem;
  }
  .nav .nav__list {
    padding-left: 0;
  }
}

.header__container {
  max-width: 71.25rem;
  margin: 0 auto;
  display: flex;
  gap: 1.875rem;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.header__img {
  width: 100%;
  max-width: 21.875rem;
  min-width: 15.625rem;
  animation: relaxing 4s ease-in-out infinite;
}
.header__title {
  display: flex;
  gap: 4rem;
  justify-content: center;
  flex-direction: column;
  align-items: baseline;
}
.header__title .heading-primary {
  width: 100%;
  max-width: 35.5rem;
}
@media screen and (max-width: 704px) {
  .header .header__container {
    flex-direction: column-reverse;
  }
  .header .header__img {
    align-self: center;
  }
  .header .header__title {
    align-items: center;
  }
  .header .header__title .heading-primary {
    text-align: center;
  }
}

@keyframes relaxing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.footer__container {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  flex-wrap: wrap;
  align-items: center;
}
.footer__identity {
  max-width: 15rem;
}
.footer__contact {
  max-width: 15rem;
}
.footer__icon {
  max-width: 5.625rem;
  margin-bottom: 0.9375rem;
}
.footer__slogan {
  margin-bottom: 0.625rem;
}
.footer .heading-quinary {
  margin-bottom: 0.9375rem;
}
.footer__social {
  width: 100%;
  max-width: 15rem;
}
.footer__social .heading-quinary {
  text-align: center;
}

@media screen and (max-width: 507px) {
  .footer__container {
    justify-content: center;
    gap: 3.2rem;
  }
  .heading-quinary {
    text-align: start !important;
  }
}
.grid {
  display: grid;
  margin: 0 auto;
  max-width: 71.25rem;
  grid-template-columns: repeat(12, 1fr);
}
.grid .col-1-2 {
  grid-column: span 6;
}
.grid .col-1-3 {
  grid-column: span 4;
}
.grid .col-1-4 {
  grid-column: span 3;
}
.grid .col-2-3 {
  grid-column: span 8;
}
.grid .col-2-4 {
  grid-column: span 6;
}
.grid .col-3-4 {
  grid-column: span 9;
}
.grid .col-full {
  grid-column: 1/-1;
}
.grid .col-center--l {
  grid-column: 3/11;
}
.grid .col-center--s {
  grid-column: 5/9;
}

.grid-cards-impar {
  display: grid;
  max-width: 71.25rem;
  grid-gap: 3rem;
  margin: 0 auto;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-flow: dense;
}

.container {
  max-width: 71.25rem;
  margin: 0 auto;
  padding-left: 2.625rem;
  padding-right: 2.625rem;
}

@media screen and (max-width: 585px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.landing__features {
  max-width: 71.25rem;
  margin: 0 auto;
  padding-top: 2.625rem;
  padding-bottom: 2.625rem;
}
.landing__features .heading-secondary {
  text-align: center;
  padding-top: 2.625rem;
  padding-bottom: 2.625rem;
}

.call {
  width: 100%;
}
.call .fa-spa {
  font-size: 3.125rem;
  color: #ff8ba7;
}
.call__fondo {
  background-color: #ffc6c7;
  padding-bottom: 8.75rem;
}
.call__title {
  max-width: 41.25rem;
  text-align: center;
}
.call__info {
  max-width: 47.5rem;
  text-align: center;
}
.call__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.125rem;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.registro {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  padding-bottom: 6.25rem;
}
.registro__title {
  text-align: center;
  padding-top: 2.625rem;
}
.registro .form {
  margin: 0 auto;
}
.registro .btn {
  margin: 0 auto;
}

.created {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.created .fas {
  text-align: center;
  color: #ff8ba7;
  font-size: 2.1875rem;
  margin: 0 auto;
}
.created .heading-secondary {
  text-align: center;
}
.created .btn-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.diary {
  max-width: 700px;
  padding-top: 80px;
}
.diary__nav {
  padding-bottom: 50px;
}
.diary .to-do-list {
  max-width: 100%;
  background-color: #fffffe;
  border: 2.5px solid #33272a;
  min-height: 300px;
  padding: 1.5rem;
  margin-top: 40px;
  margin-bottom: 40px;
}
.diary__entry {
  max-width: 100%;
  border: 2.5px solid #33272a;
  padding: 1.5rem;
  margin-bottom: 40px;
  margin-top: 40px;
  resize: none;
}
.diary__entry-btns {
  display: flex;
  gap: 30px;
}
.diary .greet__title {
  margin-top: 40px;
}

@media screen and (max-width: 860px) {
  html {
    font-size: 14px !important;
  }
}
body {
  background-color: #faeee7;
}/*# sourceMappingURL=main.css.map */