.footer {
  &__container {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }

  &__identity {
    max-width: 15rem;
  }

  &__contact {
    align-self: baseline;
    max-width: 15rem;
  }

  &__icon {
    max-width: 5.625rem;
    padding-top: 8px;
    // padding-bottom: 0.9375rem;
  }

  &__slogan {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
  }
  .heading-quinary {
    margin-bottom: 0.9375rem;
    align-self: baseline;
  }

  &__social {
    width: 100%;
    max-width: 15rem;
    justify-self: baseline;
    align-self: baseline;

    .heading-quinary {
      text-align: center;
    }
  }
}
@include mv(507px) {
  .footer__container {
    justify-content: center;
    gap: 3.2rem;
  }
  .heading-quinary {
    text-align: start !important;
  }
}
