.header {
  &__container {
    max-width: $anchura;
    margin: $center;
    display: flex;
    gap: 1.875rem;
    justify-content: space-between;
    padding-top: $paddingMD;
    padding-bottom: $paddingMD;
  }
  &__img {
    width: 100%;
    max-width: 21.875rem;
    min-width: 15.625rem;
    animation: relaxing 4s ease-in-out infinite;
  }
  &__title {
    display: flex;
    gap: 4rem;
    justify-content: center;
    flex-direction: column;
    //Para que el botón mida lo justo y no se expanda al 100%
    align-items: baseline;

    .heading-primary {
      width: 100%;
      max-width: 35.5rem;
    }
  }

  @include mv(704px) {
    .header__container {
      flex-direction: column-reverse;
    }
    .header__img {
      align-self: center;
    }
    .header__title {
      align-items: center;
      .heading-primary {
        text-align: center;
      }
    }
  }
}
@keyframes relaxing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
