.nav {
  &__container {
    max-width: $anchura;
    margin: $center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 6.25rem;
    width: 100%;
  }

  &__logo {
    max-width: 7.5rem;
  }

  &__link-logo {
    width: 7.5rem;
  }

  &__list {
    display: flex;
    gap: 3.75rem;
    align-items: center;

    &-item {
      list-style: none;

      a {
        text-decoration: none;
        color: $colorTipoHeadings;
        transition: all linear 0.1s;

        &:hover {
          color: $colorPrincipalSalmon;
        }
      }
    }
  }
  .fa-user-circle {
    font-size: 1.875rem;
  }

  @include mv(585px) {
    .nav__container {
      flex-direction: column;
      justify-content: center;
      gap: 1.3rem;
      padding-top: $paddingMD;
    }
    .nav__list {
      //Hay veces que tengo que ponerle esto porque me sale padding automático.
      padding-left: 0;
    }
  }
}
