//FUENTES:
$fuenteHeadings: "Abril Fatface", cursive;
$fuenteBase: "Alef", sans-serif;

//MEDIDAS:
$anchura: 71.25rem;
$center: 0 auto;
$bordeEstandar: 0.4rem;
$paddingXS: 0.3rem;
$paddingSM: 0.75rem;
$paddingMD: 1.5rem;
$paddingLG: 1.875rem;
$paddingXL: 2.625rem;

// THEME DEFAULT COLORES:
$colorPrincipalSalmon: #ff8ba7;
$colorSecundarioRosa: #ffc6c7;
$colorTerciarioVerde: #b2efbb;
$colorBackground: #faeee7;
$colorTipoHeadings: #33272a;
$colorTipoCuerpo: #594a4e;
$colorBlancoRoto: #fffffe;
$colorError: #f73d3da1;

// THEME DARK COLORES:
$colorPrincipalSalmon--dark: #5989ac;
$colorSecundarioRosa--dark: #414c53;
$colorTerciarioVerde--dark: #ba7779;
$colorBackground--dark: #3c3536;
$colorTipoHeadings--dark: #d5cacb;
$colorTipoCuerpo--dark: #d5d3d4;
$colorBlancoRoto--dark: #2d2929;
$colorError--dark: #bd8587;

//THEME LEMONADE COLORES
$colorPrincipalSalmon--lemon: #ffd19c;
$colorSecundarioRosa--lemon: #f7ffb2;
$colorTerciarioVerde--lemon: #c0e2e6;
$colorBackground--lemon: #fefad3;
$colorTipoHeadings--lemon: #504e27;
$colorTipoCuerpo--lemon: #3c3131;
$colorBlancoRoto--lemon: rgb(254, 247, 222);
$colorError--lemon: #9d5e00;

//THEME DRACULA COLORS
$colorPrincipalSalmon--dracula: #ff79c6;
$colorSecundarioRosa--dracula: #6272a4;
$colorTerciarioVerde--dracula: #50fa7b;
$colorBackground--dracula: #282a36;
$colorTipoHeadings--dracula: #bd93f9;
$colorTipoCuerpo--dracula: #f8f8f2;
$colorBlancoRoto--dracula: #44475a;
$colorError--dracula: #ff5555;

$colors: () !default;

$colors: map-merge(
  (
    "colorPrincipalSalmon": $colorPrincipalSalmon,
    "colorSecundarioRosa": $colorSecundarioRosa,
    "colorTerciarioVerde": $colorTerciarioVerde,
    "colorBackground": $colorBackground,
    "colorTipoHeadings": $colorTipoHeadings,
    "colorTipoCuerpo": $colorTipoCuerpo,
    "colorBlancoRoto": $colorBlancoRoto,
    "colorError": $colorError,
  ),
  $colors
);
$colorsDark: () !default;

$colorsDark: map-merge(
  (
    "colorPrincipalSalmon": $colorPrincipalSalmon--dark,
    "colorSecundarioRosa": $colorSecundarioRosa--dark,
    "colorTerciarioVerde": $colorTerciarioVerde--dark,
    "colorBackground": $colorBackground--dark,
    "colorTipoHeadings": $colorTipoHeadings--dark,
    "colorTipoCuerpo": $colorTipoCuerpo--dark,
    "colorBlancoRoto": $colorBlancoRoto--dark,
    "colorError": $colorError--dark,
  ),
  $colorsDark
);

$colorsLemon: () !default;

$colorsLemon: map-merge(
  (
    "colorPrincipalSalmon": $colorPrincipalSalmon--lemon,
    "colorSecundarioRosa": $colorSecundarioRosa--lemon,
    "colorTerciarioVerde": $colorTerciarioVerde--lemon,
    "colorBackground": $colorBackground--lemon,
    "colorTipoHeadings": $colorTipoHeadings--lemon,
    "colorTipoCuerpo": $colorTipoCuerpo--lemon,
    "colorBlancoRoto": $colorBlancoRoto--lemon,
    "colorError": $colorError--lemon,
  ),
  $colorsLemon
);

$colorsDracula: () !default;

$colorsDracula: map-merge(
  (
    "colorPrincipalSalmon": $colorPrincipalSalmon--dracula,
    "colorSecundarioRosa": $colorSecundarioRosa--dracula,
    "colorTerciarioVerde": $colorTerciarioVerde--dracula,
    "colorBackground": $colorBackground--dracula,
    "colorTipoHeadings": $colorTipoHeadings--dracula,
    "colorTipoCuerpo": $colorTipoCuerpo--dracula,
    "colorBlancoRoto": $colorBlancoRoto--dracula,
    "colorError": $colorError--dracula,
  ),
  $colorsDracula
);

.theme {
  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }

  // Tema oscuro
  &--dark {
    @each $colorD, $value in $colorsDark {
      --#{$colorD}: #{$value};
    }
  }

  &--lemon {
    @each $colorL, $value in $colorsLemon {
      --#{$colorL}: #{$value};
    }
  }
  &--dracula {
    @each $colorDc, $value in $colorsDracula {
      --#{$colorDc}: #{$value};
    }
  }
}
