//MEDIDAS:
$anchura: 71.25rem;
$center: 0 auto;
$bordeEstandar: 0.5rem;
$paddingXS: 0.5rem;
$paddingSM: 0.75rem;
$paddingMD: 1.5rem;
$paddingLG: 1.875rem;
$paddingXL: 2.625rem;

//COLORES:
$colorPrincipalSalmon: #ff8ba7;
$colorSecundarioRosa: #ffc6c7;
$colorTerciarioVerde: #c3f0ca;
$colorBackground: #faeee7;
$colorTipoHeadings: #33272a;
$colorTipoCuerpo: #594a4e;
$colorBlancoRoto: #fffffe;

//FUENTES:
$fuenteHeadings: "Abril Fatface", cursive;
$fuenteBase: "Alef", sans-serif;
