// Botón base
%boton {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none;
  border-radius: $bordeEstandar;
  color: $colorTipoCuerpo;
  cursor: pointer;
  background-color: $colorPrincipalSalmon;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: lighten($colorSecundarioRosa, 10%);
    background-color: $colorSecundarioRosa;
  }
}

//boton principal
.btn {
  @extend %boton;
  //Botón secundario
  &--secondary {
    @extend %boton;
    background-color: $colorTerciarioVerde;

    &:hover {
      color: $colorBlancoRoto;
      background-color: lighten($colorTipoCuerpo, 10%);
    }
  }
}
