.form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 40.625rem;
  min-width: 17.5rem;
  padding: $paddingMD;
  //   gap: 10px;
  border: $bordeLinea;
  border-radius: 8px;
  background-color: $colorBlancoRoto;

  &__join {
    display: flex;
    width: 100%;

    &-col {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  .col1 {
    margin-right: 1.25rem;
  }
  label {
    margin-bottom: 0.625rem;
    margin-top: 1.5625rem;
    // font-family: $fuenteHeadings;
    // display: block;
  }

  input {
    // margin-right: 20px;
    border: none;
    border-bottom: $bordeLinea;
    outline: none;
    padding: 0;
    font-size: 1.1rem;
    color: $colorTipoHeadings;
    background-color: transparent;
  }

  input[type="checkbox"] {
    margin-right: 8px;
    &:checked {
      accent-color: $colorPrincipalSalmon;
    }
  }
  .band {
    position: absolute;
    max-width: 6.25rem;
    top: -1px;
    left: -1.875rem;
    transform: rotate(-20deg);
  }
}
@include mv(470px) {
  .form {
    &__join {
      flex-direction: column;
    }

    .band {
      width: 5rem;
      left: -1.125rem;
    }
  }
}
