.heading-primary {
  color: $colorTipoHeadings;
  font-family: $fuenteHeadings;
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: 1.5%;
}
.heading-secondary {
  color: $colorTipoHeadings;
  font-family: $fuenteHeadings;
  font-size: 2.1rem;
  font-weight: 600;
  letter-spacing: 0.5%;
}
.heading-tertiary {
  color: $colorTipoHeadings;
  font-family: $fuenteHeadings;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.25%;
}
.heading-quaternary {
  color: $colorTipoHeadings;
  font-family: $fuenteHeadings;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.25%;
}
.heading-quinary {
  color: $colorTipoHeadings;
  font-family: $fuenteHeadings;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.5%;
}
.heading-sextiary {
  color: $colorTipoHeadings;
  font-family: $fuenteHeadings;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 1.5%;
}
