@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alef:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

html {
  font-size: 16px;
}

body {
  color: var(--colorTipoCuerpo);
  font-weight: normal;
  font-style: normal;
  font-family: $fuenteBase;
}
