.diary {
  max-width: 43.75rem;
  padding-top: 2.7rem;
  padding-bottom: 6rem;

  textarea:focus {
    outline: none;
  }

  &__nav {
    padding-bottom: 2rem;

    a,
    i {
      &:hover {
        color: var(--colorPrincipalSalmon);
      }
    }
  }

  .to-do-list {
    max-width: 100%;
    background-color: var(--colorBlancoRoto);
    border: $bordeLinea;
    min-height: 18.75rem;
    padding: $paddingMD;
    margin-top: 2.5rem;
    // margin-bottom: 40px;
    position: relative;

    .tape-diary {
      position: absolute;
      top: -18px;
      left: 83%;
      width: 8.125rem;
      transform: rotate(10deg);
    }
  }

  &__entry {
    max-width: 100%;
    border: $bordeLinea;
    padding: $paddingMD;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    resize: none;
    background-color: var(--colorBlancoRoto);
    color: var(--colorTipoCuerpo);
  }

  &__entry-btns {
    display: flex;
    gap: 1.875rem;
  }

  .greet__title {
    margin-top: 2.5rem;
  }

  .task-item {
    display: flex;
    align-items: baseline;
    margin-bottom: 8px;
    word-wrap: break-word;
  }

  .task-text {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 82%;
    cursor: pointer;
    color: var(--colorTipoCuerpo);

    &:hover {
      color: var(--colorPrincipalSalmon);
    }
  }

  input[type="checkbox"] {
    cursor: pointer;
    margin-right: 8px;

    &:checked + .task-text {
      text-decoration: line-through;
      color: var(--colorPrincipalSalmon);
    }

    &:checked {
      accent-color: var(--colorPrincipalSalmon);
    }
  }

  .delete-task {
    margin-left: auto;
    cursor: pointer;
    text-decoration: none;
    color: var(--colorTipoCuerpo);
    &:hover {
      color: var(--colorPrincipalSalmon);
    }
  }

  .delete-task:hover + .task-text {
    color: var(--colorError);
  }

  .favorite-task {
    color: rgba(158, 158, 158, 0.389);
  }
  .favorite {
    color: var(--colorTerciarioVerde);
  }

  .ayer-completed {
    text-decoration: line-through;
    cursor: auto;
  }

  .ayer-no-completed {
    cursor: auto;
  }
  .fa-arrow-alt-circle-right {
    cursor: pointer !important;
    margin-left: 8px;
    color: gray;
  }
}

@include mv(570px) {
  //No me coge los estilos si no los pongo dentro de un html y con !important.
  html {
    .tape-diary {
      position: absolute;
      top: -8%;
      left: 70% !important;
      width: 100px !important;
      transform: rotate(2deg) !important;
    }
  }
}
