.landing {
  &__features {
    max-width: $anchura;
    margin: $center;
    padding-top: $paddingXL;
    padding-bottom: $paddingXL;

    .heading-secondary {
      text-align: center;
      padding-top: $paddingXL;
      padding-bottom: $paddingXL;
    }
  }
}
.call {
  width: 100%;

  .fa-spa {
    font-size: 3.125rem;
    color: var(--colorPrincipalSalmon);
  }

  &__fondo {
    background-color: var(--colorSecundarioRosa);
    padding-bottom: 8.75rem;
  }

  &__title {
    max-width: 41.25rem;
    text-align: center;
  }

  &__info {
    max-width: 47.5rem;
    text-align: center;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.125rem;
    padding-top: $paddingLG;
    padding-bottom: $paddingLG;
  }
}
