.login {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  min-height: 75vh;

  &__title {
    text-align: center;
    padding-top: $paddingXL;
  }

  h4 {
    text-align: center;
    margin-top: -1.875rem;
  }
  .form {
    margin: $center;
    max-width: 23.75rem;

    .sun {
      position: absolute;
      max-width: 6.25rem;
      // bottom: 95%;
      top: -40px;
      left: 37%;
    }
  }

  .btn {
    width: 100%;
    border-style: none;
    background-color: var(--colorSecundarioRosa);
    padding: 5px 0;
    margin-top: 0.9375rem;

    &:hover {
      background-color: var(--colorPrincipalSalmon);
    }
  }
  .forgot-pass {
    text-align: center;
    margin: 1.25rem 0;
    a {
      color: var(--colorTipoCuerpo);
      &:hover {
        color: var(--colorPrincipalSalmon);
      }
    }
  }
  padding-bottom: 6.25rem;
}
