.registro {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  &__title {
    text-align: center;
    padding-top: $paddingXL;
  }

  h4 {
    text-align: center;
    margin-top: -1.875rem;
    a {
      color: var(--colorTipoCuerpo);
      &:hover {
        color: var(--colorPrincipalSalmon);
      }
    }
  }
  .form {
    margin: $center;
  }

  .btn {
    width: 100%;
    border-style: none;
    background-color: var(--colorSecundarioRosa);
    padding: 5px 0;

    &:hover {
      background-color: var(--colorPrincipalSalmon);
    }
  }

  padding-bottom: 6.25rem;
}
