//THEME DARK COLORES:
$colorPrincipalSalmon: #5989ac;
$colorSecundarioRosa: #414c53;
$colorTerciarioVerde: #4a7553;
$colorBackground: #3c3536;
$colorTipoHeadings: #d5cacb;
$colorTipoCuerpo: #d5d3d4;
$colorBlancoRoto: #2d2929;
$colorError: #b61f23a1;
