//THEME DEFAULT COLORES:
$colorPrincipalSalmon: #ff8ba7;
$colorSecundarioRosa: #ffc6c7;
$colorTerciarioVerde: #c3f0ca;
$colorBackground: #faeee7;
$colorTipoHeadings: #33272a;
$colorTipoCuerpo: #594a4e;
$colorBlancoRoto: #fffffe;
$colorError: #f73d3da1;
