//THEME DEFAULT COLORES:
$colorPrincipalSalmon--dracula: #ff79c6;
$colorSecundarioRosa--dracula: #f1fa8c;
$colorTerciarioVerde--dracula: #50fa7b;
$colorBackground--dracula: #282a36;
$colorTipoHeadings--dracula: #bd93f9;
$colorTipoCuerpo--dracula: #f8f8f2;
$colorBlancoRoto--dracula: #44475a;
$colorError--dracula: #ff5555;
