//THEME LEMONADE COLORES
$colorPrincipalSalmon: #ffd19c;
$colorSecundarioRosa: #f7ffb2;
$colorTerciarioVerde: #c0e2e6;
$colorBackground: #fefad3;
$colorTipoHeadings: #504e27;
$colorTipoCuerpo: #3c3131;
$colorBlancoRoto: #fffbe6;
$colorError: #9d5e00;
